mixin pictureJpg(path, alt='')
  picture.cover(class!=attributes.class)
    source.cover(srcset=`${path}.webp` type="image/webp" alt= alt)
    source.cover(srcset=`${path}.jpg` type="image/jpeg" alt= alt)
    img.cover(srcset=`${path}.jpg` alt= alt)

mixin picturePng(path, alt='')
  picture.cover(class!=attributes.class)
    source.cover(srcset=`${path}.webp` type="image/webp" alt= alt class!=attributes.class)
    source.cover(srcset=`${path}.png` type="image/jpeg" alt= alt class!=attributes.class)
    img.cover(srcset=`${path}.png` alt= alt class!=attributes.class)

mixin card-main(card)
  li.card-main(data-target="card")
    .card-main__img
      +pictureJpg(card.path, card.alt)
    .card-main__title= card.title
    .card-main__subtitle= card.subtitle
    +card-footer(card.date, card.looks, card.comments)

mixin card-footer(date, looks, comments)
  .card-footer
    .card-footer__date
      p.card-footer__text= date
    .card-footer__looks
      img.card-footer__looks-img(src="/img/icons/looks.svg", alt="looks")
      p.card-footer__text= looks
    .card-footer__comments
      img.card-footer__comments-img(src="/img/icons/comments.svg", alt="comments")
      p.card-footer__text= comments

mixin slider-btn-prev(prev)
  .slider-btn__wrap.slider-btn__wrap_prev(data-action= prev)
    .slider-btn
      img.slider-btn__img(src="/img/icons/arrow-prev.svg", alt='slide left')

mixin slider-btn-next(next)
  .slider-btn__wrap.slider-btn__wrap_next(data-action= next)
    .slider-btn
      img.slider-btn__img(src="/img/icons/arrow-next.svg", alt='slide left')

mixin card-editors(options)
  .editors-card
    .editors-card__image-wrap
      +pictureJpg(options.path, options.alt)(class='object-position-top')
    .editors-card__content
      .editors-card__title= options.title
      .editors-card__subtitle= options.subtitle
      +card-footer(options.date, options.looks, options.comments)

mixin card-editors-big(options)
  .editors-card.editors-card-big
    .editors-card__image-wrap.editors-card-big__image-wrap
      //- +pictureJpg(options.path, options.alt)(class='object-position-top')
      .editors-card-big__image-text= options.imgText
        | Spring Fruit
        br
        | Salad

    .editors-card__content
      .editors-card__title= options.title
      .editors-card__text.card-footer__text.editors-card-big__text= options.text
      .editors-card__subtitle= options.subtitle
      +card-footer(options.date, options.looks, options.comments)

mixin block-slider-card (options)
  li.card-slider__container(data-target='card')
    .card-slider__content(data-target='inner')
      .card-slider__image
        +pictureJpg(options.path, options.alt)
      .card-slider__description
        .card-slider__description-content Spring Fruit Salad
