mixin pictureJpg(path, alt='')
  picture.cover(class!=attributes.class)
    source.cover(srcset=`${path}.webp` type="image/webp" alt= alt)
    source.cover(srcset=`${path}.jpg` type="image/jpeg" alt= alt)
    img.cover(srcset=`${path}.jpg` alt= alt)

mixin picturePng(path, alt='')
  picture.cover(class!=attributes.class)
    source.cover(srcset=`${path}.webp` type="image/webp" alt= alt class!=attributes.class)
    source.cover(srcset=`${path}.png` type="image/jpeg" alt= alt class!=attributes.class)
    img.cover(srcset=`${path}.png` alt= alt class!=attributes.class)

mixin card-main(card)
  li.card-main(data-target="card")
    .card-main__img
      +pictureJpg(card.path, card.alt)
    .card-main__title-wrap
      a(href="page-article.html").card-main__title= card.title
    .card-main__subtitle= card.subtitle
    +card-footer(card.date, card.looks, card.comments)

mixin card-footer(date, looks, comments)
  .card-footer
    .card-footer__date
      p.card-footer__text= date
    .card-footer__looks
      img.card-footer__looks-img(src="/img/icons/looks.svg", alt="looks")
      p.card-footer__text= looks
    .card-footer__comments
      img.card-footer__comments-img(src="/img/icons/comments-sm.svg", alt="comments")
      p.card-footer__text= comments

mixin slider-btn-prev(prev)
  .slider-btn__wrap.slider-btn__wrap_prev(data-action= prev, class!=attributes.class)
    .slider-btn
      img.slider-btn__img(src="/img/icons/arrow-prev.svg", alt='slide left')

mixin slider-btn-next(next)
  .slider-btn__wrap.slider-btn__wrap_next(data-action= next, class!=attributes.class)
    .slider-btn
      img.slider-btn__img(src="/img/icons/arrow-next.svg", alt='slide left')

mixin card-editors(options)
  .editors-card(data-aos="fade-up", data-aos-duration="1000")
    .editors-card__image-wrap
      +pictureJpg(options.path, options.alt)(class='object-position-top')
    .editors-card__content
      a(href="page-article.html").editors-card__title= options.title
      .editors-card__subtitle= options.subtitle
      +card-footer(options.date, options.looks, options.comments)

mixin card-editors-big(options)
  .editors-card.editors-card-big(data-aos="fade-up", data-aos-duration="1000")
    .editors-card__image-wrap.editors-card-big__image-wrap
      .editors-card-big__image-text
        = options.imgText1
        br
        = options.imgText2

    .editors-card__content
      a(href="page-article.html").editors-card__title= options.title
      .editors-card__text.card-footer__text.editors-card-big__text= options.text
      .editors-card__subtitle= options.subtitle
      +card-footer(options.date, options.looks, options.comments)

mixin card-hottest-big(options)
  .hottest-card-big__wrap(data-aos="fade-up", data-aos-duration="1000")
    .hottest-card-big
      .editors-card__image-wrap.hottest-card-big__image-wrap(class= options.class)
        .hottest-card-big__image-text
          = options.imgText1
          br
          = options.imgText2

      .editors-card__content.hottest-card-big__content
        a(href="page-article.html").editors-card__title.hottest-card-big__title= options.title
        .editors-card__text.card-footer__text.hottest-card-big__text= options.text

    .hottest-card-big__footer
      .editors-card__subtitle= options.subtitle
      +card-footer(options.date, options.looks, options.comments)

mixin card-know-big(options)
  .know-slide__wrap(data-aos="fade-up", data-aos-duration="1000")
    .hottest-card-big
      .editors-card__image-wrap.hottest-card-big__image-wrap.know-slide__image-wrap(class= options.class)
        .know-slide__image-text-wrap
          .hottest-card-big__image-text.know-slide__image-text= options.imgText

      .editors-card__content.hottest-card-big__content
        a(href="page-article.html").editors-card__title.hottest-card-big__title= options.title
        .editors-card__text.card-footer__text.hottest-card-big__text= options.text

    .hottest-card-big__footer
      .editors-card__subtitle= options.subtitle
      +card-footer(options.date, options.looks, options.comments)

mixin block-slider-card (options)
  li.card-slider__container(data-target='card')
    .card-slider__content(data-target='inner')
      .card-slider__image
        +pictureJpg(options.path, options.alt)
      .card-slider__description
        a(href="page-article.html").card-slider__description-content= options.description

mixin card-know(options)
  .know-card(data-aos="fade-up", data-aos-duration="1000")
    .know-card__image-wrap
      +pictureJpg(options.path, options.alt)(class='object-position-top')
    .know-card__content
      a(href="page-article.html").know-card__title= options.title
      .know-card__subtitle= options.subtitle
      +card-footer(options.date, options.looks, options.comments)

mixin card-know-events(options)
  .know-slide__wrap(data-aos="fade-up", data-aos-duration="1000")
    .hottest-card-big
      .editors-card__image-wrap.hottest-card-big__image-wrap.know-slide__image-wrap(class= options.class)
        .know-slide__image-text-wrap
          .hottest-card-big__image-text.know-slide__image-text= options.imgText

      .editors-card__content.hottest-card-big__content
        .know-card__date-text-wrap
          .know-card__date-text= options.date
        .editors-card__title.hottest-card-big__title= options.title
        .editors-card__text.card-footer__text.hottest-card-big__text= options.text

    .know-card__footer
      a(href="page-article.html").know-card__button Pre-Recorded Webinars

mixin block-updates()
  .updates
    .updates__title
      | Want to receive
      br
      | updates?
    .updates__subtitle Subscribe to the diet newsletter
    form.updates__form
      input.updates__input(type="text", placeholder='Enter your email')
      button.updates__btn(type="submit", value='ok') ok

mixin block-news-full(options)
  .news
    .news__col
      .news__img
        +picturePng(options.path, options.alt='')
    .news__col
      h3.news__title= options.title
      .editors-card__text.news__text= options.text
      .editors-card__subtitle.news__subtitle= options.subtitle
      +card-footer(options.date, options.looks, options.comments)

mixin line-with-dot()
  .line-with-dot__wrapper
    .line-with-dot__line
    .line-with-dot
    .line-with-dot__line

mixin comment(options)
  .user-comment
    .user-comment__col
      .user-comment__img
        +picturePng(options.user_img)

    .user-comment__col
      .user-comment__header
        .user-comment__title-wrap
          .user-comment__name= options.user_name
          .user-comment__date= options.date
        .user-comment__reply-wrap
          .user-comment__reply-text Relpy
          button.user-comment__reply-btn +
          button.user-comment__reply-btn -
          .user-comment__reply-liks= options.like

      .user-comment__text= options.text

